@{
    ViewData["Title"] = "Team";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project is created by Ou Wang and Zhihong He.</p>
<img src="~/images/luffy.gif" alt="ASP.NET" class="img-responsive" />